/* Add here all your css styles (customizations) */
/*body {
    margin-top: 15.5px;
}*/



#body-background {
        background-image: url('../img/patterns/2.png');
}

img.center {
    display: block;
    margin: 0 auto
}

.vcenter {
    display: inline-block;
    vertical-align: top;
    text-align: right;
    float: none;
}

.vcenter2 {

    vertical-align: middle;
    float: right;
    text-align: right;
}

.media-body {
    text-align: left;
}

.highlight{
    background-color: yellow;
}