<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Bug Squisher App" />
    <meta name="keywords" content="app, bug tracker, portfolio, bug squisher, Coder Foundry" />
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <link href="~/Assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/css/icomoon.min.css" rel="stylesheet" />
    <link href="~/Assets/css/style.min.css" rel="stylesheet" />
</head>
<body>

    @RenderBody()

    <!--scripts for template-->
    <script src="~/Assets/js/jquery-1.10.2.min.js"></script>
    <script src="~/Assets/js/bootstrap.min.js"></script>
    <script src="~/Assets/js/feeds.js"></script>
    <script src="~/Assets/js/chosen.js"></script>
    <script src="~/Assets/js/shadowbox.js"></script>
    <script src="~/Assets/js/sparkline.min.js"></script>
    <script src="~/Assets/js/masonry.min.js"></script>
    <script src="~/Assets/js/enscroll.min.js"></script>
    <script src="~/Assets/js/calendar.min.js"></script>
    <script src="~/Assets/js/datatables.min.js"></script>
    <script src="~/Assets/js/autosize.min.js"></script>
    <script src="~/Assets/js/select.min.js"></script>
    <script src="~/Assets/js/toggler.min.js"></script>
    <script src="~/Assets/js/datetimepicker.min.js"></script>
    <script src="~/Assets/js/colorpicker.min.js"></script>
    <script src="~/Assets/js/fileupload.min.js"></script>
    <script src="~/Assets/js/media-player.js"></script>
    <script src="~/Assets/js/validation/validate.min.js"></script>
    <script src="~/Assets/js/validation/validationEngine.min.js"></script>
    <script src="~/Assets/js/slider.min.js"></script>
    <script src="~/Assets/js/functions.js"></script>

</body>
</html>
