@{
    ViewBag.Title = "Login Failure";
}


<div id="content-header">
    <h1>@ViewBag.Title.</h1>
</div>
<div id="content-container">
    <h4 class="text-danger">Unsuccessful login with service.</h4>
</div>

