@{
    ViewBag.Title = "Reset password confirmation";
}


<div id="content-header">
    <h1>@ViewBag.Title.</h1>
</div>
<div id="content-container">
    <div>
        <p>
            Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </div>
</div>


