@model BugSquish.Models.UserRolesDetailViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="portlet">
    <div class="portlet-header">
        <ul class="portlet-tools pull-left" style="list-style-type: none; display: inline" data-toggle="tooltip" data-placement="top" title="This allows you to switch between household budgets.">
            @using (Html.BeginForm("UserRolesChange", "Manage", FormMethod.Post))
            {
                @Html.HiddenFor(m => m.UserId)
                @Html.AntiForgeryToken()
                <li>
                    @Html.DropDownListFor(model => model.CurrentRoleId, Model.AvailableRoles, new { @class = "form-control" })
                    <input type="submit" value="Change Role" class="btn btn-success" />
                </li>
            }
        </ul>
    </div> <!-- /.portlet-header -->

    <div class="portlet-content">

    </div> <!-- /.portlet-content -->

</div> <!-- /.portlet -->
